html {
    background-color: #FFF8E8;
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
  }

div {
    width: 600px;
    margin: 100px auto;
}
  
p {
    font-size: 1.0rem;
    line-height: 1.5rem;
    color: #333333
}

h1 {
    
}

a {
    text-decoration: none;
    color: #6474ff;
    ;
}
a:hover {
    border-bottom: 2px dotted #6474ff
}

  ul {
    background: ;
    padding: 10px;
    border: 1px solid black;
  }
  
  li {
    margin-left: 20px;
  }

  @media only screen and (max-width: 600px) {
    div {
      width: 90%;
      margin: 10% auto;
    }
    h1 {
      font-size: 24px !important;
      line-height: 1.4rem;
    }
    p {
      font-size: 0.9rem;
      line-height: 1.3rem;
    }
  }